In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("..\\data\\rwanda_cellular_line.csv")

In [6]:
lat_max = -1.611821049990991
lat_min = -1.629839068009009
lon_max = 30.230402384974443
lon_min = 30.212377155025553

In [8]:
series_lat = (data['lat'] >= lat_min) & (data['lat'] <= lat_max)

In [9]:
series_lat.sum()

np.int64(98)

In [10]:
series_lon = (data['lon'] >= lon_min) & (data['lon'] <= lon_max)

In [11]:
series_lon.sum()

np.int64(77)

In [13]:
tot = series_lat & series_lon

In [14]:
sum(tot)

2

In [15]:
data[tot]

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
2822,GSM,635,13,212,41232,-1,30.2193,-1.6258,1000,1,1,1691600180,1691600180,0
2827,GSM,635,13,212,49842,-1,30.2193,-1.6258,1000,1,1,1691600180,1691600180,0

In [19]:
data['averageSignal']

0       0
1       0
2       0
3       0
4       0
       ..
5352    0
5353    0
5354    0
5355    0
5356    0
Name: averageSignal, Length: 5357, dtype: int64