In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("..\\data\\rwanda_cellular_line.csv")

In [6]:
lat_max = -1.611821049990991
lat_min = -1.629839068009009
lon_max = 30.230402384974443
lon_min = 30.212377155025553

In [8]:
series_lat = (data['lat'] >= lat_min) & (data['lat'] <= lat_max)

In [9]:
series_lat.sum()

np.int64(98)

In [10]:
series_lon = (data['lon'] >= lon_min) & (data['lon'] <= lon_max)

In [11]:
series_lon.sum()

np.int64(77)

In [13]:
tot = series_lat & series_lon

In [14]:
sum(tot)

2

In [15]:
data[tot]

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
2822,GSM,635,13,212,41232,-1,30.2193,-1.6258,1000,1,1,1691600180,1691600180,0
2827,GSM,635,13,212,49842,-1,30.2193,-1.6258,1000,1,1,1691600180,1691600180,0

In [19]:
data['averageSignal']

0       0
1       0
2       0
3       0
4       0
       ..
5352    0
5353    0
5354    0
5355    0
5356    0
Name: averageSignal, Length: 5357, dtype: int64

In [2]:
data = pd.read_csv("..\\data\school_geolocations_with-connnectivity.csv")

In [4]:
output_columns = ['country', 'education_level', 'school_name', 'latitude', 'longitude']
data = data[output_columns]

In [9]:
prova = data[data['country'] == 'Rwanda'].head()

In [10]:
prova

      country        education_level     school_name  latitude  longitude
11356  Rwanda                Primary          NYUNDO -1.830833  29.745001
11357  Rwanda              Secondary  GS NYAKANYINYA -2.523944  28.922388
11358  Rwanda              Secondary    Kwigira TVET -1.957444  30.435472
11359  Rwanda                Primary     EM KIGARAMA -1.751667  30.382416
11360  Rwanda  Primary and Secondary      GS GISUNZU -2.795830  29.722000

In [14]:
for _, row in prova.iterrows():
    print(row['education_level'])

Primary
Secondary
Secondary
Primary
Primary and Secondary